body{
    background-color:#F75C4C;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 300px;
}

h1{
    color: white;
}

.button{
    border-radius: 5px;
    border: solid white;
    color: white;
    background-color: #F75C4C;
    width: 250px;
}