body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e74c3c;
}

.container {
    background-color: #e74c3c;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 200px;
    height: auto;
}

.logo h1 {
    color: white;
    font-family: Arial, sans-serif;
}

form input {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #e74c3c;
    font-size: 16px;
    cursor: pointer;
}